.button-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

.auth-button {
    padding: 10px;
    background: #3b4c5a;
    color: #e1d9d0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button {
    position: fixed;
    bottom: 8px;
    left: 10%;
    transform: translateX(-50%);
    background-color: #353311; /* Tomato color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.logout-button {
    position: fixed;
  bottom: 8px;
  left: 10%;
  transform: translateX(-50%);
  background-color: #353311; /* Tomato color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}







