.quiz-container {
    text-align: center;
    background-color: #3b4c5a;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: auto;
}

.music-buttons,
.emotion-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5em;
    /* Increase the margin-top to add more spacing */
    margin-bottom: 5em;
    /* Increase the margin-bottom to add more spacing */
}

.title {
    color: #d18466;
    font-family: 'Righteous', sans-serif;
    padding: 0.5em;
    font-size: 2.25em;
    background-color: #3b4c5a;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
}
