.quiz-container {
    text-align: center;
    background-color: #3b4c5a;
    padding: 20px;
    height: 100vh;
    /* Set height to 100% of viewport height */
    margin: 0;
    /* Remove default margin */
    overflow: auto;
    /* Add scrolling if needed */
}

.emotion-buttons,
.music-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.title {
    color: #d18466;
    font-family: 'Righteous', sans-serif;
    padding: 0.5em;
    font-size: 2.25em;
    background-color: #3b4c5a;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
}

p {
    color: #e1d9d0;
    font-family: 'Righteous', sans-serif;
    /* font-size: 1.2em; */
    font-style: italic;
    padding: 1em;
}